<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">KEYBOARD</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>

  <ion-card style="background-color:#fad78d;color: rgb(0, 0, 0);">
    <ion-card-header>
      <h2 class="ion-text-center"><strong>INTRODUCTION</strong></h2>
      <h6>WHAT IS A GAMING KEYBOARD?</h6>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/l20gt01.jpg" >
      <br>
      <br>
      A computer keyboard designed for gamers. Although there are several controllers with dials and levers for games, the W, A, S and D letter keys on the standard QWERTY keyboard are also widely used. On gaming keyboards, which are mostly mechanical, the key switches require less depression and result in faster action for games. 
      <br>
      <br>
      There may also be extra keys that are user configurable for macros (commonly used key sequences). See video game controller, gaming mouse, gaming PC, mechanical keyboard, WASD keys and macro.
     <br>
     
    </ion-card-content>
  </ion-card>
<br>
<ion-slides [options]="option" class="ion-margin=top">
  <ion-slide>
  <ion-card>
  <ion-card-header>
    <h2 class="ion-text-center">BEST GAMING KEYBOARD UNDER RM100</h2>
    <img src="assets/fantechkeyboard.jpg" >
    <h2>1. Fantech K613X (RM79.90)</h2>
   </ion-card-header>

   <ion-card-content>
    <h7>SPECS: </h7><br>
    Switch Type: Membrane<br> Size : Full Size
    <br>
    <br>
    PRODUCT REVIEW:
    <iframe width="100%" height="50%" src="https://www.youtube.com/embed/aItcQqQ66HU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </ion-card-content>
   </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING KEYBOARD UNDER RM100</h2>
      <br>
      <br>
      <img src="assets/aula.jpg" >
      <h2>2. AULA F2088 (RM91.79)</h2>
     </ion-card-header>
  
     <ion-card-content>
      <h7>SPECS: </h7><br>
      Switch Type: Mechanical<br>Switch Color: Blue<br> Size : Full Size<br>
      <br>
      <br>
      PRODUCT REVIEW:
      <iframe width="100%" height="50%" src="https://www.youtube.com/embed/45vmuNWNRBc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card-content>
     </ion-card>
    </ion-slide>

  </ion-slides>  
  <br>
  <ion-slides [options]="option" class="ion-margin=top">
  
    <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING KEYBOARD RM100 – RM299</h2>
        <img src="assets/mk853.jpg" >
        <h2>2. Fantech MK853 (RM159)</h2>
       </ion-card-header>
        
       <ion-card-content>
        <h7>SPECS: </h7><br>
        Switch Type: Mechanical<br> Switch Color: Blue <br>Size : Full Size<br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/NcIjPRQ3DbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-card-content>
       </ion-card>
      </ion-slide>
  

      <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING KEYBOARD RM100 – RM299</h2>
          <br>
          <br>
          <br>
          <img src="assets/cynosav2.jpg" >
          <h2>2. Razer Cynosa V2 Chroma (RM189)</h2>
          <br>
         </ion-card-header>
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Switch Type: Membrane<br> Size : Full Size<br>         
          <br>
          <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/4IPPYbNwNqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-card-content>
         </ion-card>
        </ion-slide>



  </ion-slides>  

  <ion-slides [options]="option" class="ion-margin=top">
    
<ion-slide>
  <ion-card>
   <ion-card-header>
    <h2 class="ion-text-center">BEST GAMING KEYBOARD RM300 – RM499</h2><br>
    <img src="assets/g512.jpg" >
    <h2>1. Logitech G512  (RM319.00)</h2>
   </ion-card-header>

   <ion-card-content>
    <h7>SPECS: </h7><br>
    Switch Type: Mechanical<br>Switch Color: Blue/Red/Brown<br> Size : Full Size<br>
      <br>
      PRODUCT REVIEW:
      <iframe width="100%" height="50%" src="https://www.youtube.com/embed/0aK4qQDKAng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </ion-card-content>
   </ion-card>
  </ion-slide>
  
    <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING KEYBOARD RM300 – RM499</h2>
        <br>
        <br>
        <img src="assets/apex.jpg" >
        <h2>2. Steelseries Apex M750  (RM499.00)</h2>
       </ion-card-header>
    
       <ion-card-content>
        <h7>SPECS: </h7><br>
        Switch Type: Mechanical<br>Switch Color: Blue/Brown/Blue<br> Size : Ten Keyless (TKL)<br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/cqwZ4S9UNRo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-card-content>
       </ion-card>
      </ion-slide>
  
    </ion-slides>  
  
    <ion-slides [options]="option" class="ion-margin=top">
    
      <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING KEYBOARD OVER RM500</h2>
          <img src="assets/huntsman.jpg" >
          <h2>1. Razer Huntsman V2 (RM1099)</h2>
         </ion-card-header>
          
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Switch Type: Analog<br> Size : Ten Keyless (TKL)<br>
            <br>
            PRODUCT REVIEW:
            <iframe width="100%" height="50%" src="https://www.youtube.com/embed/DJednx2Ib3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-card-content>
         </ion-card>
        </ion-slide>
    
  
        <ion-slide>
          <ion-card>
          <ion-card-header>
            <h2 class="ion-text-center">BEST GAMING KEYBOARD OVER RM500</h2>
            <img src="assets/cynosav2.jpg" >
            <h2>2. - Logitech G813 RGB (RM609)</h2>
           </ion-card-header>
            
           <ion-card-content>
            <h7>SPECS: </h7><br>
            Switch Type: Mechanical<br>Switch Color:Blue/Red/Brown<br> Size : Ten Keyless (TKL)<br>
            <br>
            PRODUCT REVIEW:
            <iframe width="100%" height="50%" src="https://www.youtube.com/embed/0hyx1rgEFfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </ion-card-content>
           </ion-card>
          </ion-slide>

    </ion-slides>  
</ion-content>

