<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">MOUSE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-card style="background-color:#eebc71;color: rgb(0, 0, 0);">
    <ion-card-header>
      <h2 class="ion-text-center"><strong>INTRODUCTION</strong></h2>
      <h6>WHAT IS A GAMING MOUSE?</h6>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/960x0.jpg" >
      <br>
      <br>
      A mouse designed for gamers. Gaming mice have adjustable sensitivity, which is configurable as the number of dots per inch (DPI). The greater the DPI, the farther the cursor moves on screen with the same amount of mouse movement. In general, a higher DPI setting (1000 DPI and more) is used for gaming as well as for monitors with very high resolution.
      <br>
      <br>
      However, in a video game, the higher DPI may help or hinder depending on the zoom level of the scene. Higher DPI lets the gamer make quick movements, while lower DPI allows for smaller, precise movements. See DPI, gaming PC and gaming keyboard.

     <br>
     
    </ion-card-content>
  </ion-card>
<br>
<ion-slides [options]="option" class="ion-margin=top">
  <ion-slide>
  <ion-card>
  <ion-card-header>
    <h2 class="ion-text-center">BEST GAMING MOUSE UNDER RM100</h2>
    <img src="assets/deathadder.jpg" >
    <h2>1. Razer DeathAdder (RM79.90)</h2>
   </ion-card-header>

   <ion-card-content>
    <h7>SPECS: </h7><br>
    Up to 6400 DPI Optical Sensor<br>
    5 independently programmable Hyperesponse buttons<br>Size: 127mm(Length) x 73mm(Width) x 43mm(Height)<br> Weight : 96g
    <br>
    <br>
    PRODUCT REVIEW:
    <iframe width="100%" height="50%" src="https://www.youtube.com/embed/Iqb1EThjT-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </ion-card-content>
   </ion-card>
  </ion-slide>
   
  <ion-slide>
    <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING MOUSE UNDER RM100</h2>
      <br>
      <br>
      <img src="assets/thor.jpg" >
      <h2>2. Fantech X16 Thor II (RM49.90)</h2>
     </ion-card-header>
  
     <ion-card-content>
      <h7>SPECS: </h7><br>
      Up to 4200 DPI Optical Sensor<br>
      6 Macro buttons<br>Size: 129mm(Length) x 68mm(Width) x 41mm(Height)<br> Weight : 96g
      <br>
      <br>
      PRODUCT REVIEW:
      <iframe width="100%" height="50%" src="https://www.youtube.com/embed/q_rx0lRGZ6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card-content>
     </ion-card>
    </ion-slide>

  </ion-slides>  
  <br>
  <ion-slides [options]="option" class="ion-margin=top">
    <ion-slide>
    <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING MOUSE RM100-RM299</h2>
      <img src="assets/basilisk.jpg" >
      <h2>1. Razer Basilisk X (RM149.90)</h2>
     </ion-card-header>
  
     <ion-card-content>
      <h7>SPECS: </h7><br>
      Up to 16000 DPI Optical Sensor<br>
      11 independently programmable Hyperesponse buttons<br>Hyperspeed wireless technology (2.4Hz dongle)<br>Size: 130mm(Length) x 60mm(Width) x 42mm(Height)<br> Weight : 83g
      <br>
      <br>
      PRODUCT REVIEW:
      <iframe width="100%" height="50%" src="https://www.youtube.com/embed/DIS7NtauIGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card-content>
     </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING MOUSE RM100-RM299</h2>
        <br>
        <br>
        <img src="assets/g502.jpg" >
        <h2>2. Logitech G502 (RM159.90)</h2>
       </ion-card-header>
    
       <ion-card-content>
        <h7>SPECS: </h7><br>
        Up to 25600 DPI Optical Sensor<br>
        11 independently programmable <br>Size: 129mm(Length) x 68mm(Width) x 41mm(Height)<br> Weight : 121-139g(adjustable weight)
        <br>
        <br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/JHqYAC4X4cA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        </ion-card-content>
       </ion-card>
      </ion-slide>
  
    </ion-slides>  
    <br>
    <ion-slides [options]="option" class="ion-margin=top">
      <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING MOUSE RM300-RM499</h2>
        <img src="assets/darkcore.jpg" >
        <h2>1. Corsair DARK CORE RGB (RM419.90)</h2>
       </ion-card-header>
    
       <ion-card-content>
        <h7>SPECS: </h7><br>
        Up to 18000 DPI Optical Sensor<br>
        8 independently programmable buttons<br>Size: 127mm(Length) x 73mm(Width) x 43mm(Height)<br> Weight : 142g
        <br>
        <br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/_r_I6bMBKSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
       </ion-card-content>
       </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING MOUSE RM300-RM499</h2>
          <br>
          <br>
          <img src="assets/modelo.jpg" >
          <h2>2. Glorious Model O (RM339.90)</h2>
         </ion-card-header>
      
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Up to 12000 DPI Optical Sensor<br>
          6 Macro buttons<br>Size: 120mm(Length) x 63mm(Width) x 36mm(Height)<br> Weight : 69g
          <br>
          <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/aBYvr9QZlDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-card-content>
         </ion-card>
        </ion-slide>
    
      </ion-slides>  
      <br>
      <ion-slides [options]="option" class="ion-margin=top">
        <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING MOUSE OVER RM500</h2>
          <img src="assets/gpro.jpg" >
          <h2>1. Logitech G Pro Wireless  (RM512.90)</h2>
         </ion-card-header>
      
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Up to 25600 DPI Optical Sensor<br>
          11 independently programmable  buttons<br>Size: 127mm(Length) x 73mm(Width) x 43mm(Height)<br> Weight : 65g
          <br>
          <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/WWyt2ZALhOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-card-content>
         </ion-card>
        </ion-slide>
      
        <ion-slide>
          <ion-card>
          <ion-card-header>
            <h2 class="ion-text-center">BEST GAMING MOUSE OVER RM500</h2>
            <br>
            <br>
            <img src="assets/rival.jpg" >
            <h2>2. SteelSeries Rival 650 Wireless  (RM549.90)</h2>
           </ion-card-header>
        
           <ion-card-content>
            <h7>SPECS: </h7><br>
            Up to 12000 DPI Optical Sensor<br>
            7 independently programmable buttons<br>Size: 131mm(Length) x 69mm(Width) x 43mm(Height)<br> Weight : 121g
            <br>
           <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/-Zlm9OIyM6c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </ion-card-content>
           </ion-card>
          </ion-slide>
      
        </ion-slides>  
  
</ion-content>
