<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">GAMING HEADSET</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-card style="background-color:#f5df7c;color: rgb(0, 0, 0);">
    <ion-card-header>
      <h2 class="ion-text-center"><strong>INTRODUCTION</strong></h2>
      <h6>WHAT IS A GAMING HEADSET?</h6>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/HyperX-Cloud-Alpha-Gaming-Headset.jpg" >
      <br>
      <br>
      Gaming headphones are built with special features that are beneficial to gamers. Let’s take a look at what you get with a gaming headphone set and why most gamers will likely prefer gaming headsets over consumer models. The number one reason why people opt for a gaming headset is because they offer the convenience of having the microphone and the headset all in one place. You could purchase a separate, like one that you can attach to your shirt or a standing mic, but why would you do that when there are so many high quality gaming headsets available? If you purchase a separate mic for your headphones, you have to deal with an additional cable, additional connections, and the risk of an additional product malfunction.
      <br>
      <br>
      Gaming headsets are designed to allow you to hear audio and virtual surround sound. True, not all of these headsets are created equal. Some are going to give you mind-blowing surround sound, and others are going to be somewhere in the middle range. In most cases, with gaming headsets, you will get to the quality that you pay for.

     <br>
     
    </ion-card-content>
  </ion-card>
<br>
<ion-slides [options]="option" class="ion-margin=top">
  <ion-slide>
  <ion-card>
  <ion-card-header>
    <h2 class="ion-text-center">BEST GAMING HEADSET UNDER RM100</h2>
    <img src="assets/hg20.jpg" >
    <h2>1. Fantech HG20 CHIEF II (RM64.90)</h2>
   </ion-card-header>

   <ion-card-content>
    <h7>SPECS: </h7><br>
    Wired Over-Head<br>
    <br>Speaker sensitivity: 121+/-3db<br>Microphone Sensitivity : 38+/-3db<br>Microphone type : omni direction
    <br>
    <br>
     PRODUCT REVIEW:
     <iframe width="100%" height="50%" src="https://www.youtube.com/embed/yaGL83zG_Wo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </ion-card-content>
   </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING MOUSE UNDER RM100</h2>
      <br>
      <br>
      <img src="assets/onikuma.jpg" >
      <h2>2. ONIKUMA K10  (RM78.50)</h2>
     </ion-card-header>
  
     <ion-card-content>
      <h7>SPECS: </h7><br>
      Wired Over-Ear<br>Speaker Sensitivity : 118+/-3db<br>Microphone Sensitivity : 36+/-3db<br>Microphone type : Omi-directional
      <br>
      <br>
     PRODUCT REVIEW:
     <iframe width="100%" height="50%" src="https://www.youtube.com/embed/zsZDX39o_mM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card-content>
     </ion-card>
    </ion-slide>

  </ion-slides>  
  <br>
  <ion-slides [options]="option" class="ion-margin=top">
    <ion-slide>
    <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST GAMING HEADSET RM100-RM299</h2>
      <img src="assets/hg22.jpg" >
      <h2>1. Fantech HG22  (RM123.90)</h2>
     </ion-card-header>
  
     <ion-card-content>
      <h7>SPECS: </h7><br>
      Wired Over-Ear<br>
      Speaker Sensitivity : 119+/-3db<br>
      Microphone Sensitivity : 42+/-3db<br>
      Microphone type : omni direction<br>
      <br>
     PRODUCT REVIEW:
     <iframe width="100%" height="50%" src="https://www.youtube.com/embed/hMzkDphZdk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     </ion-card-content>
     </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING HEADSET RM100-RM299</h2>
        <br>
        <br>
        <img src="assets/kraken.png" >
        <h2>2. Razer Kraken X  (RM169.90)</h2>
       </ion-card-header>
    
       <ion-card-content>
        <h7>SPECS: </h7><br>
         Wired Over-Ear<br>
         Speaker Sensitivity : 109db<br>
         Microphone Sensitivity : 45+/-3db<br>
         Noise Cancelling: Advanced passive noise cancellation<br>
         Microphone type : Unidirectional ECM boom<br>
         Volume up and down<br>
         Microphone quick mute toggle
        <br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/QDSBcaETE-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-card-content>
       </ion-card>
      </ion-slide>
  
    </ion-slides>  
    <br>
    <ion-slides [options]="option" class="ion-margin=top">
      <ion-slide>
      <ion-card>
      <ion-card-header>
        <h2 class="ion-text-center">BEST GAMING HEADSET RM300-RM499</h2>
        <img src="assets/gproheadset.jpg" >
        <h2>1. Logitech G PRO Gaming Headset  (RM389.90)</h2>
       </ion-card-header>
    
       <ion-card-content>
        <h7>SPECS: </h7><br>
        
        Speaker Sensitivity : 98db<br>
        Microphone Sensitivity : 42+/-3db<br>
        Microphone type : Cardioid (Unidirectional)<br>
        <br>
        PRODUCT REVIEW:
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/NeWRU92qMUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
       </ion-card-content>
       </ion-card>
      </ion-slide>
    
      <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING HEADSET RM300-RM499</h2>
          <br>
          <br>
          <img src="assets/arctics1.jpg" width="40%" >
          <h2>2. SteelSeries Arctis 1 Wireless (RM499.90)</h2>
         </ion-card-header>
      
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Wireless Over-Ear<br>
          Speaker Sensitivity : 98db<br>
          Microphone Sensitivity : 38db<br>
          Microphone type : Bidirectional Noise-Canceling<br>
          Type - Lossless 2.4 GHz <br>
          Range - 30ft / 9m <br>
          Battery Life - 20 hours<br>
          <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/2iHdMIPw824" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </ion-card-content>
         </ion-card>
        </ion-slide>
    
      </ion-slides>  
      <br>
      <ion-slides [options]="option" class="ion-margin=top">
        <ion-slide>
        <ion-card>
        <ion-card-header>
          <h2 class="ion-text-center">BEST GAMING HEADSET OVER RM500</h2>
          <img src="assets/blackshark.jpg" >
          <h2>1. - Razer BlackShark V2 Pro  (RM599.90)</h2>
         </ion-card-header>
      
         <ion-card-content>
          <h7>SPECS: </h7><br>
          Wired Over-Ear<br>
          Speaker Sensitivity : 100+/-3db<br>
          Microphone Sensitivity : 42+/-3db<br>
          Noise Cancelling: Advanced passive noise cancellation<br>
          Microphone type : Razer™ HyperClear Supercardioid Mic<br>
          Razer™ HyperSpeed Wireless<br>
          Battery Life: Up to 24 hours<br>
          <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/955Ww5pE0d0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
         </ion-card-content>
         </ion-card>
        </ion-slide>
      
        <ion-slide>
          <ion-card>
          <ion-card-header>
            <h2 class="ion-text-center">BEST GAMING HEADSET OVER RM500</h2>
            <br>
            <br>
            <img src="assets/gprox.jpg" width="40%" >
            <h2>2. Logitech G PRO X Gaming Headset   (RM599.00)</h2>
           </ion-card-header>
        
           <ion-card-content>
            <h7>SPECS: </h7><br>
            Wired On-Ear<br>
            Speaker Sensitivity : 91db<br>
            Microphone Sensitivity : 42+/-3db<br>
            Microphone type : Cardioid (Unidirectional) <br>
            Battery Life (rechargeable): up to 20h 1Battery life may vary based on user and computing condition. Up to 20h battery life is based on headset volume set to 50%.<br>
            Wireless range: up to 49.22 ft (15 m)<br>
            Connection Type: 2.4GHz LIGHTSPEED Charging cable length: 5.91 ft (1.8 m)<br>
            <br>
          PRODUCT REVIEW:
          <iframe width="100%" height="50%" src="https://www.youtube.com/embed/b4SlKeMldDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
           </ion-card-content>
           </ion-card>
          </ion-slide>
      
        </ion-slides>  
  
</ion-content>

    
  

