<ion-header>
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title color="dark" class="header">MOUSEPAD</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h3>Why Buy A Gaming Mouse Pad?</h3>
    </ion-card-header>
 
    <ion-card-content>
      The peripheral market place has seen some pretty impressive technological advancements over the last decade or so, with mice, headsets, keyboards, and mousepads benefiting hugely in a number of different areas. 
      And while mice now boast the ability to work on almost any surface, gaming mousepad manufacturers still market their latest offerings as “must-haves” for gamers.
      <br>
      <br>
      These are some mousepads that we recommended:
    </ion-card-content>
  </ion-card>
 <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST MOUSE PAD FOR GAMING</h2>
      <img src="assets/base-mm300-pro-config-Gallery-MM300-PRO-Extended-01-1.png" >
      <h2>1. Corsair MM300 Extended (RM140)</h2>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Surface Type: Soft <br> Surface Material: Cloth Dimensions: 36.61 x 11.8 x 0.12 inches <br>Base: Rubber
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+It's huge
      <br>+Very smooth tracking surface
      <br>+Stitched edges
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST HARD MOUSE PAD</h2>
      <img src="assets/download.jfif" >
      <h2>2. Logitech G440 (RM90)</h2>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Surface Type: Hard <br> Surface Material: Plastic Dimensions: 13.39 x 11.03 x 0.13 inches <br>Base: Rubber
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+Low friction surface
      <br>+Solid rubber base
      <br>+Minimal branding
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <h2 class="ion-text-center">BEST RGB MOUSE PAD</h2>
      <img src="assets/2762513-xl-a.jpg" >
      <h3>3. Corsair MM800 Polairs RGB (RM250)</h3>
    </ion-card-header>
  
    <ion-card-content>
      <h7>SPECS: </h7><br>
      Surface Type: Hard <br> Surface Material: Plastic Dimensions: 13.7 x 10.2 x 0.2 inches <br>Base: Rubber
      <br>
      <br>
      <h7>REASON TO BUY:</h7><br>
      <br>+15 very bright LEDs
      <br>+USB passthrough port
    </ion-card-content>
  </ion-card>


</ion-content>
